.match-card {
  background-color: #ffffff33;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.match-card-logo {
  width: 80px;
  height: 80px;
}

.match-status.match-won {
  color: #18ed66;
}

.match-status.match-lost {
  color: #e31a1a;
}
