.home-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  padding: 40px;
}

.ipl-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.ipl-logo {
  width: 50px;
  margin-right: 10px;
}

.dashboard-heading {
  font-size: 32px;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
